.datosNC{
  white-space: pre-wrap;      /* CSS3 */
 white-space: -moz-pre-wrap; /* Firefox */
 white-space: -pre-wrap;     /* Opera <7 */
 white-space: -o-pre-wrap;   /* Opera 7 */
 word-wrap: break-word;
 display: inline-block;
}

.items-container{
  border-radius: 2vw;
  border-style: solid;
  border-width: thin;
  border-color:var(--ion-color-primary);
  text-align: center;
  background-color: var(--ion-color-primary);
}

.item{
  color:var(--ion-color-light) !important;
}
