.fondo-background {
  width: 100%;
  height: 100%;
  text-align: center;
}

.imagenFondo {
  margin-top: 8em;
}

.posicion-datos-usuario {
  font-size: 5vw;
  color:white;
}

ion-col {
  text-align: center;
}

.grid{
  background-color: var(--ion-color-primary) !important;
  width: 100vw;
}
