<div class="splashOpaque" *ngIf="showSplash">
  <div class="sk-cube-grid">
    <div class="sk-cube sk-cube1"></div>
    <div class="sk-cube sk-cube2"></div>
    <div class="sk-cube sk-cube3"></div>
    <div class="sk-cube sk-cube4"></div>
    <div class="sk-cube sk-cube5"></div>
    <div class="sk-cube sk-cube6"></div>
    <div class="sk-cube sk-cube7"></div>
    <div class="sk-cube sk-cube8"></div>
    <div class="sk-cube sk-cube9"></div>
  </div>
</div>

<ion-header>

  <ion-toolbar color='primary'>
    <ion-title>Procesar NC</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <img [src]="localStorageServ.localStorageObj['dataUser'].logo" class='imagenNav'>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>



<ion-content>

  <ion-item-group>
    <ion-item-divider color="secondary"><strong style="font-size:5vw">DATOS DE LINEA</strong></ion-item-divider>
    <ion-row>
      <ion-col>
        <ion-item lines="none" [disabled]='this.localStorageServ.localStorageObj["dataUser"].msg == "03"'>
          <ion-label>Habilitar campos</ion-label>
          <ion-checkbox slot="end" [(ngModel)]="camposHabilitados" (click)='habilitarCampos()'></ion-checkbox>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item lines="none">
          <ion-label>CCV</ion-label>
          <ion-checkbox slot="end" [(ngModel)]="CCV" (ionChange)="productLogic.CCV == CCV"></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-item text-wrap>
      <ion-label fixed>Código</ion-label>
      <ion-input [(ngModel)]="codigoProducto" (ionChange)="productLogic.codigoProducto == codigoProducto"></ion-input>
      <ion-buttons>
        <ion-button slot="end" fill="clear" (click)='productLogic.buscarProducto()' color='transparent'>
          <ion-icon color='secondary' name='search' class='icono-boton'></ion-icon>
        </ion-button>
        <ion-button slot="end" fill="clear" (click)='productLogic.scanDiv()' color='transparent'>
          <ion-icon color='secondary' name='qr-scanner' class='icono-boton'></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-item text-wrap>
      <ion-label fixed>Precio</ion-label>
      <ion-input type="number" [(ngModel)]="precioProducto" (ionChange)="productLogic.precioProducto == precioProducto" [disabled]='camposHabilitados == false'></ion-input>
    </ion-item>

    <ion-item text-wrap>
      <ion-label fixed>Cantidad</ion-label>
      <ion-input type="number" [(ngModel)]="cantidadProducto" (ionChange)="productLogic.cantidadProducto == cantidadProducto"></ion-input>
      <ion-buttons>
        <ion-button slot="end" fill="clear" clear (click)='cantidadProductoFn("agregar")' color='transparent'>
          <ion-icon color='secondary' name='add-circle' class='icono-boton'></ion-icon>
        </ion-button>
        <ion-button slot="end" fill="clear" clear (click)='cantidadProductoFn("quitar")' color='transparent'>
          <ion-icon color='secondary' name='remove-circle' class='icono-boton'></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>



    <ion-row>
      <ion-col size="6">
        <ion-item text-wrap>
          <ion-label fixed>% Desc.</ion-label>
          <ion-input type="number" [(ngModel)]="descuentoProducto" (ionChange)="productLogic.descuentoProducto == descuentoProducto" [disabled]='camposHabilitados == false'></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item text-wrap>
          <ion-label fixed>% Desc. Fijo</ion-label>
          <ion-input type="number" [(ngModel)]="factura.descuentoFijo" disabled></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-item lines="none">
      <ion-label>Exonerar impuestos</ion-label>
      <ion-checkbox [(ngModel)]="exonerarImpuestosBool" (ionChange)="productLogic.exonerarImpuestosBool == exonerarImpuestosBool" [disabled]='camposHabilitados == false'></ion-checkbox>
    </ion-item>
  </ion-item-group>


  <ion-button color="primary" (click)="agregarProducto()" expand="block"><strong>AGREGAR PRODUCTO</strong></ion-button>
  <ion-row>
    <ion-col>
      <ion-text>
        <strong>SUBTOTAL:</strong> {{subTotal}}
      </ion-text>
      <br>
      <ion-text>
        <strong>MONDESC:</strong> {{monoDescuento}}
      </ion-text>
      <br>
      <ion-text>
        <strong>SUBT. DESC:</strong> {{subTotalDesc}}
      </ion-text>
    </ion-col>
    <ion-col>
      <ion-text>
        <strong>MONIMP.:</strong> {{monImpuesto}}
      </ion-text>
      <br>
      <ion-text>
        <strong>TOTAL:</strong> {{totalFinal}}
      </ion-text>
    </ion-col>
  </ion-row>


  <div *ngFor="let producto of arrayProductosDisplay; let i = index">

    <ion-item color="primary" lines="none" text-wrap class='bounceInUp productoItem'>
      <ion-buttons slot="end">
        <ion-icon class="icono-boton" name="close-circle" (click)="eliminarProducto(i)" color="light" item-end>
        </ion-icon>
        <ion-icon class="icono-boton" name="{{producto['icono']}}" (click)="verMasProducto(i)" color="light" item-end>
        </ion-icon>
        <ion-icon class="icono-boton" name="search" (click)="productLogic.busquedaProductoUnico(producto['Código Producto'], 'html')" color="light" item-end>
        </ion-icon>
      </ion-buttons>
      <ion-text class="text-light">
        <strong style="font-size:6vw;"> {{producto.Cantidad}} </strong> | {{producto['Código Producto']}} <strong>{{producto['Nombre Producto']}}</strong> P.U: {{producto['Precio Venta sin Imp']}}
      </ion-text>
    </ion-item>

    <ion-item *ngIf="producto['verMas'] == true">
      <ion-text>
        <strong>% Descuento:</strong> {{producto["descuento"]}} %
      </ion-text>
    </ion-item>
    <ion-item *ngIf="producto['verMas'] == true">
      <ion-text>
        <strong>Sub Total:</strong> {{producto["subTotales"]['Sub Total']}}
      </ion-text>
    </ion-item>
    <ion-item *ngIf="producto['verMas'] == true">
      <ion-text>
        <strong>Descuento:</strong> {{producto["subTotales"]['Descuento']}}
      </ion-text>
    </ion-item>
    <ion-item *ngIf="producto['verMas'] == true">
      <ion-text>
        <strong>Sub Total descuento:</strong> {{producto["subTotales"]['Sub Total descuento']}}
      </ion-text>
    </ion-item>
    <ion-item *ngIf="producto['verMas'] == true">
      <ion-text>
        <strong>Impuestos:</strong> {{producto["subTotales"]['Impuestos']}}
      </ion-text>
    </ion-item>
    <ion-item *ngIf="producto['verMas'] == true">
      <ion-text>
        <strong>Total Linea:</strong> {{producto["subTotales"]['Total Linea']}}
      </ion-text>
    </ion-item>
  </div>

  <ion-button expand="block" [disabled]="arrayProductosDisplay.length == 0" (click)="guardarNotaDeCredito()">
    Guardar
  </ion-button>

  <ion-button expand="block" [disabled]="arrayProductosDisplay.length == 0 || factura['Consecutivo Hacienda'] == '0' || factura.isProcesada" (click)="procesarNCEnHacienda()">
    Enviar a hacienda
  </ion-button>
  <ion-button expand="block" [disabled]="arrayProductosDisplay.length == 0" (click)="imprimir(false)">
    Imprimir
  </ion-button>
  <ion-button expand="block" [disabled]="arrayProductosDisplay.length == 0" (click)="imprimir(true)">
    Reimprimir
  </ion-button>

</ion-content>
