<div class="splashOpaque" *ngIf="showSplash">
  <div class="sk-cube-grid">
    <div class="sk-cube sk-cube1"></div>
    <div class="sk-cube sk-cube2"></div>
    <div class="sk-cube sk-cube3"></div>
    <div class="sk-cube sk-cube4"></div>
    <div class="sk-cube sk-cube5"></div>
    <div class="sk-cube sk-cube6"></div>
    <div class="sk-cube sk-cube7"></div>
    <div class="sk-cube sk-cube8"></div>
    <div class="sk-cube sk-cube9"></div>
  </div>
</div>
<ion-header>

  <ion-toolbar color="primary" text-center hideBackButton>
    <ion-buttons slot="end">
      <ion-button>
        <img [src]="localStorageServ.localStorageObj['dataUser'].logo" class='imagenNav'>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back">
        </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Telefono nuevo</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label>Codigo del país</ion-label>
    <ion-select okText="Ok" cancelText="Cancelar" [(ngModel)]="idCodigoPais">
      <ion-select-option *ngFor="let codigo of codigosPaises" [value]="codigo.id_pais">{{codigo.nombre_pais}}</ion-select-option>
    </ion-select>
  </ion-item>


  <ion-item>
    <ion-label>Tipo de telefono</ion-label>
    <ion-select okText="Ok" cancelText="Cancelar" [(ngModel)]="idTipoTelefono">
      <ion-select-option *ngFor="let tipo of tiposTelefonos" [value]="tipo.id_tipo_telefono">{{tipo.descripcion_tipo_telefono}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Numero de teléfono</ion-label>
    <ion-input [(ngModel)]="telefono" type="number" maxlength="8"></ion-input>
  </ion-item>
  <ion-item [disabled]="this.clientesServ.newBackUrl == '/cliente-new'">
    <ion-label>Principal</ion-label>
    <ion-checkbox slot="end" [(ngModel)]="principal"></ion-checkbox>
  </ion-item>


  <ion-button expand="block" (click)="agregarTelefono()">
    Agregar teléfono
  </ion-button>
  <ion-button expand="block" (click)="dismiss()">
    Volver
  </ion-button>


</ion-content>
